@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Geist', sans-serif;

  --color-green-50: #F0F9F3;
  --color-green-100: #D8F0DF;
  --color-green-200: #B4DFC1;
  --color-green-300: #86C99B;
  --color-green-400: #4DAD70;
  --color-green-500: #1A9449;
  --color-green-600: #00802F;
  --color-green-700: #006B28;
  --color-green-800: #005522;
  --color-green-900: #003F19;
  --color-green-950: #002B11;

  --color-yellow-50: #FBF1E6;
  --color-yellow-100: #F7E3CD;
  --color-yellow-200: #EFC89B;
  --color-yellow-300: #E8AD69;
  --color-yellow-400: #E09237;
  --color-yellow-500: #D97706;
  --color-yellow-600: #B66405;
  --color-yellow-700: #915004;
  --color-yellow-800: #6C3B03;
  --color-yellow-900: #502C02;
  --color-yellow-950: #341C01;

  --color-red-50: #FDF2F4;
  --color-red-100: #FCD5D5;
  --color-red-200: #F7A1A1;
  --color-red-300: #F75F5F;
  --color-red-400: #F90606;
  --color-red-500: #B91C1C;
  --color-red-600: #9B1818;
  --color-red-700: #7C1313;
  --color-red-800: #5C0E0E;
  --color-red-900: #440A0A;
  --color-red-950: #2C0707;

  --color-blue-50: #EAF4FF;
  --color-blue-100: #D5EAFF;
  --color-blue-200: #A9D5FF;
  --color-blue-300: #70B8FF;
  --color-blue-400: #42A5F5;
  --color-blue-500: #2196F3;
  --color-blue-600: #1E88E5;
  --color-blue-700: #1976D2;
  --color-blue-800: #1565C0;
  --color-blue-900: #0D47A1;
  --color-blue-950: #062B5C;
}
